* {
  box-sizing: border-box;
}

.h1 {
  border-radius: 8px;
  font-size: 30px;
  color: white;
  padding: 18px;
  font-family: open sans;

}

.bg-primary
{
  background-color: #328DAA !important;
}

.para {
  background-color: #328DAA;
  display: inline-block;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.input {
  border: none;
  background-color: transparent;
  width: 50%;
}

.button {
  top: 5px;
  right: 5px;
  margin-left: 7px;
  position: absolute;
  float: left;
  border-radius: 50%;
  background-color: white;
  width: 24px;
  height: 24px;
  padding: 0;
  align-items: center;

}

.button2 {
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: white;
  float: right;
  width: 24px;
  height: 24px;
  padding: 0%;
  align-items: center;
  position: absolute;
}

.btn-c
{
  height: 60px;
}

.num
{
  background-color: transparent;
}

.num:focus
{
  outline: none !important;
  border: none !important;
}

.shadow {

  padding: 2px;
  box-shadow: 5px 2px 5px 5px #888888;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #328DAA;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.p1{
  font-size: 12px;
}

.h2{
  color: #328DAA ;
 
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: #328DAA ;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-100%);
  transform: translateY(-100%);

}
.bubble::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #328DAA;
  bottom: -1px;
  left: 50%;
}

